<div class="container">
  <div class="row">
    <div class="main-box">

      <h1><%= current_lesson.title %></h1>
      <h2><%= current_lesson.subtitle %></h2>

      <%= link_to 'Video', current_lesson.video.to_s %>

    </div>
  </div>
</div>